.navbar {
    background: yellowgreen;
}
.welcome_img {
    width: 100%;
}
.skills {
    list-style: none;
}
.timeline {
    list-style: none;
}
.timeline > li {
    margin-bottom: 60px;
}
@media (min-width: 640px) {
    .timeline > li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
    .timeline-date {
        width: 110px;
        float: left;
        margin-top: 20px;
    }
    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 30px;
    }
}
.timeline-content:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
}
.about_section {
    padding: 1rem 2rem;
    border-left: 6px double #000;
    background: #f4f4f4;
}
.title {
    position: relative;
    height: 75px;
    margin-right: 100px;
    padding: 1.5rem 2rem 0 2rem;
    word-break: break-all;
    color: #fff;
    background: #000;
}

.title:after {
    position: absolute;
    top: 0;
    right: -55px;
    width: 0;
    height: 0;
    content: "";
    border-width: 75px 55px 0 0;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}
